/*
*   MEASURE
*   Generated Mon Mar 13 2017 15:09:55 GMT+1300 (NZDT)
*/

/*
*   Units
*/

$u: 12px;

/* Unit divisions */

$hu: $u * 0.5;
$qu: $u * 0.25;
$qqqu: $u * 0.75;
$tu: $u * 0.3333333333333333;
$ttu: $u * 0.6666666666666666;

/* Unit multiplications */

$uh: $u * 1.5;
$u2: $u * 2;
$u3: $u * 3;
$u4: $u * 4;
$u5: $u * 5;
$u6: $u * 6;
$u7: $u * 7;
$u8: $u * 8;
$u9: $u * 9;
$u10: $u * 10;
/*
*   Proportional units
*/

$pu: 1rem;

/* Proportional unit divisions */

$hpu: $pu * 0.5;
$qpu: $pu * 0.25;
$qqqpu: $pu * 0.75;
$tpu: $pu * 0.3333333333333333;
$ttpu: $pu * 0.6666666666666666;

/* Proportional unit multiplications */

$puh: $pu * 1.5;
$pu2: $pu * 2;
$pu3: $pu * 3;
$pu4: $pu * 4;
$pu5: $pu * 5;
$pu6: $pu * 6;
$pu7: $pu * 7;
$pu8: $pu * 8;
$pu9: $pu * 9;
$pu10: $pu * 10;

/* Ratios */

$golden: 1.618033988749895;
$silver: 1.4142135623730951;
$third: 1.3333333333333333;

/* Type scale (Default 16px) */

$t1: 0.382rem;
$t2: 0.618rem;
$t3: 1rem;
$t4: 1.618rem;
$t5: 2.618rem;
$t6: 4.236rem;
$t7: 6.854rem;
$t8: 11.09rem;
$t9: 17.944rem;
$t10: 29.034rem;

/* Layout scale */

$l1: 17px;
$l2: 24px;
$l3: 34px;
$l4: 48px;
$l5: 68px;
$l6: 96px;
$l7: 136px;
$l8: 192px;
$l9: 272px;
$l10: 384px;

/* Fibonnaci series */

$f1: 24px;
$f2: 36px;
$f3: 60px;
$f4: 96px;
$f5: 156px;
$f6: 252px;
$f7: 408px;
$f8: 660px;
$f9: 1068px;
$f10: 1728px;
$f11: 2796px;